* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Texturina", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sneaker img {
  width: 20rem;
  z-index: 2;
}

.card {
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  max-height: 100vh;
  width: 35rem;
  margin-bottom: 2rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2),
    0px 50px 500px rgba(0, 0, 0, 0.4);
}
.sneaker {
  min-height: 35vh;
  margin-top: -17rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  width: 15rem;
  margin-top: -3rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  pointer-events: none;
  font-size: 2rem;
  margin-top: 90vh;
  margin-left: 4vh;
}

.info {
  max-height: 190%;
}

.info h3 {
  pointer-events: none;
  font-size: 1rem;
  margin-left: 4vh;
  margin-bottom: 0rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
}

.sizes {
  display: flex;
  justify-content: center;
}

.sizes button {
  margin-top: 2vh;
  padding: 0.5rem 2rem;
  display: flex;
  margin-left: 0.00000000001;
  background: none;
  border: none;
  margin-left: 10vh;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}

button.active {
  background: #585858;
  color: white;
}

.puchase {
  margin-top: 5rem;
}

.purchase button {
  width: 50%;
  margin-top: 7vh;
  margin-right: 2rem;
  margin-bottom: 4vh;
  margin-left: 9rem;
  padding: 1rem 0rem;
  background: #f54652;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
